<h1>Ready to get out there and make some $$$?</h1>
<h2>Sign up now!</h2>
<p>Listen. Strange women lying in ponds distributing swords is no basis for a system of government. Supreme executive power derives from a mandate from the masses, not from some farcical aquatic ceremony. Well, what do you want? You don't frighten us, English pig-dogs! Go and boil your bottoms, sons of a silly person! I blow my nose at you, so-called Ah-thoor Keeng, you and all your silly English K-n-n-n-n-n-n-n-niggits!</p>
<%= form_for @performer do |f| %>
<div>
	<%= f.text_field :performer_name, placeholder: "Your name or group name", required: true %>
</div>
<div>
	<%= f.email_field :email, placeholder: "Your email address", required: true %>
</div>
<div>
	<%= f.password_field :password, placeholder: "Password", required: true %>
</div>
<div>
	<%= f.text_field :city, placeholder: "Where are you?", required: true %>
</div>
<div>
	<%= f.select :category_id, [['Musical Act', 1], ['Comedy Act', 2], ['Circus Act', 3]], required: true, class: "dropdown-menu" %>
</div>
<div>
	<%= f.text_field :performer_subcategory, placeholder: "Your act type", required: true %>
</div>
<div>
	<%= f.select :hourly_rate, [['$1-25 per hour', '$1-25 per hour']], required: true %>
</div>
<div>
	<%= f.text_field :description, placeholder: "Describe your act for us!", required: true %>
</div>
<div>
	<%= f.submit "Sign Up" %>
</div>
<% end %>