<h1>Performer Profile</h1>
<div>
	<strong>Name:</strong> <%= @performer.performer_name %>
</div>
<div>
	<strong>Email:</strong> <%= @performer.email %>
</div>
<div>
	<strong>City:</strong> <%= @performer.city %>
</div>
<div>
	<strong>Performer Category:</strong> <%= @performer.category_id %>
</div>
<div>
	<strong>Performer Subcategory:</strong> <%= @performer.performer_subcategory %>
</div>
<div>
	<strong>Hourly Rate:</strong> <%= @performer.hourly_rate %>
</div>
<div>
	<strong>Description:</strong> <%= @performer.description %>
</div>