<h1>New User?</h1>
<h3>Ready to start searching for great entertainment for your special occasion? Sign up and start contacting performers today!</h3>

<%= form_for @client do |f| %>
	<div>
		<%= f.text_field :firstname, placeholder: "First Name", required: true %>
	</div>
	<div>
		<%= f.text_field :lastname, placeholder: "Last Name", required: true %>
	</div>
	<div>
		<%= f.email_field :email, placeholder: "Email Address", required: true %>
	</div>
	<div>
		<%= f.password_field :password, placeholder: "Password", required: true %>
	</div>
	<div>
		<%= f.submit "Sign Up" %>
	</div>
<% end %>